[palette="aequilibrium-deprecated"] {
  --light-red:     #FF3926;      --dark-red:      #C00004;
  --light-orange:  #FF8000;      --dark-orange:   #f47600;
  --light-yellow:  #DCBB00;      --dark-yellow:   #DAA520;
  --light-green:   #A6E22C;      --dark-green:    #00A500;
  --light-cyan:    #67D8EF;      --dark-cyan:     #00A6AD;
  --light-blue:    #239DD5;      --dark-blue:     #4090FF;
  --light-purple:  #9B6AFA;      --dark-purple:   #BA69FF;
  --light-magenta: #D348D0;      --dark-magenta:  #F65DF4;
  --black:         #232323;      --white:         #F6F6F6;
  --dark-1:        #282828;      --light-1:       #F1F1F1;
  --dark-2:        #2D2D2D;      --light-2:       #EBEBEB;
  --dark-3:        #323232;      --light-3:       #E8E8E8;
  --dark-4:        #373737;      --light-4:       #E2E2E2;
  --dimmed: color-mix(in oklch, var(--light-4), var(--dark-4));
}
[palette="aequilibrium"] {
  /* Accents for Light palette */
  --dark-red:      oklch(from #FF0000 calc(l * 1.000) calc(c * 0.800) calc(h * 1.000)); /* #EB4435 */
  --dark-orange:   oklch(from #FF8000 calc(l * 0.900) calc(c * 1.000) calc(h * 1.000)); /* #E56800 */
  --dark-yellow:   oklch(from #FFFF00 calc(l * 0.776) calc(c * 0.696) calc(h * 0.764)); /* #DAA520 */
  --dark-green:    oklch(from #00FF00 calc(l * 0.693) calc(c * 1.000) calc(h * 1.000)); /* #00A500 */
  --dark-cyan:     oklch(from #00FFFF calc(l * 0.600) calc(c * 1.000) calc(h * 1.000)); /* #00898B */
  --dark-blue:     oklch(from #0000FF calc(l * 1.500) calc(c * 1.000) calc(h * 1.000)); /* #2B7AFF */
  --dark-purple:   oklch(from #8000FF calc(l * 1.277) calc(c * 0.746) calc(h * 1.042)); /* #BA69FF */
  --dark-magenta:  oklch(from #FF00FF calc(l * 1.040) calc(c * 0.773) calc(h * 1.000)); /* #F65DF4 */
  /* Accents for Dark palette */
  --light-red:     oklch(from #FF0000 calc(l * 1.038) calc(c * 0.910) calc(h * 1.028)); /* #FF3926 */
  --light-orange:  oklch(from #FF8000 calc(l * 1.000) calc(c * 1.000) calc(h * 1.000)); /* #FF8000 */
  --light-yellow:  oklch(from #FFFF00 calc(l * 0.823) calc(c * 0.777) calc(h * 0.876)); /* #DCBB00 */
  --light-green:   oklch(from #00FF00 calc(l * 0.971) calc(c * 0.696) calc(h * 0.892)); /* #A6E22B */
  --light-cyan:    oklch(from #00FFFF calc(l * 0.911) calc(c * 0.693) calc(h * 1.093)); /* #67D8EF */
  --light-blue:    oklch(from #0000FF calc(l * 1.455) calc(c * 0.392) calc(h * 0.957)); /* #5795DA */
  --light-purple:  oklch(from #8000FF calc(l * 1.214) calc(c * 0.703) calc(h * 1.006)); /* #9B6AFA */
  --light-magenta: oklch(from #FF00FF calc(l * 0.913) calc(c * 0.771) calc(h * 1.001)); /* #D73CD5 */
  /* Background for Light palette */
  --white:         oklch(from #FFFFFF calc(l * 0.973) calc(c * 1.000) calc(h * 1.000)); /* #F6F6F6 */
  --light-1:       oklch(from #FFFFFF calc(l * 0.958) calc(c * 1.000) calc(h * 1.000)); /* #F1F1F1 */
  --light-2:       oklch(from #FFFFFF calc(l * 0.940) calc(c * 1.000) calc(h * 1.000)); /* #EBEBEB */
  --light-3:       oklch(from #FFFFFF calc(l * 0.931) calc(c * 1.000) calc(h * 1.000)); /* #E8E8E8 */
  --light-4:       oklch(from #FFFFFF calc(l * 0.912) calc(c * 1.000) calc(h * 1.000)); /* #E2E2E2 */
  /* Background for Dark palette */
  --black:         oklch(from #000000 calc(l + 0.256) calc(c * 1.000) calc(h * 1.000)); /* #232323 */
  --dark-1:        oklch(from #000000 calc(l + 0.276) calc(c * 1.000) calc(h * 1.000)); /* #282828 */
  --dark-2:        oklch(from #000000 calc(l + 0.297) calc(c * 1.000) calc(h * 1.000)); /* #2D2D2D */
  --dark-3:        oklch(from #000000 calc(l + 0.317) calc(c * 1.000) calc(h * 1.000)); /* #323232 */
  --dark-4:        oklch(from #000000 calc(l + 0.336) calc(c * 1.000) calc(h * 1.000)); /* #373737 */
  /* Dimmed for both type */
  --dimmed: color-mix(in oklch, var(--light-4), var(--dark-4));
}
[palette_type="dark"] {
  /* Accents */
  --red:          var(--light-red);
  --orange:       var(--light-orange);
  --yellow:       var(--light-yellow);
  --green:        var(--light-green);
  --cyan:         var(--light-cyan);
  --blue:         var(--light-blue);
  --purple:       var(--light-purple);
  --magenta:         var(--light-magenta);
  --accent:       var(--white);
  /* Background */
  --background:   var(--black);
  --background-1: var(--dark-1);
  --background-2: var(--dark-2);
  --background-3: var(--dark-3);
  --background-4: var(--dark-4);
  /* Foreground */
  --foreground:   var(--white);
  --foreground-1: var(--light-1);
  --foreground-2: var(--light-2);
  --foreground-3: var(--light-3);
  --foreground-4: var(--light-4);
}
[palette_type="light"] {
  /* Accents */
  --red:          var(--dark-red);
  --orange:       var(--dark-orange);
  --yellow:       var(--dark-yellow);
  --green:        var(--dark-green);
  --cyan:         var(--dark-cyan);
  --blue:         var(--dark-blue);
  --purple:       var(--dark-purple);
  --magenta:         var(--dark-magenta);
  --accent:       var(--black);
  /* Background */
  --background:   var(--white);
  --background-1: var(--light-1);
  --background-2: var(--light-2);
  --background-3: var(--light-3);
  --background-4: var(--light-4);
  /* Foreground */
  --foreground:   var(--black);
  --foreground-1: var(--dark-1);
  --foreground-2: var(--dark-2);
  --foreground-3: var(--dark-3);
  --foreground-4: var(--dark-4);
}

[palette_accent="red"]    {--accent:var(--red);}
[palette_accent="orange"] {--accent:var(--orange);}
[palette_accent="yellow"] {--accent:var(--yellow);}
[palette_accent="green"]  {--accent:var(--green);}
[palette_accent="cyan"]   {--accent:var(--cyan);}
[palette_accent="blue"]   {--accent:var(--blue);}
[palette_accent="purple"] {--accent:var(--purple);}
[palette_accent="magenta"]   {--accent:var(--magenta);}

::selection {
  background: var(--accent);
  color: var(--background);
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

/**************/
/* INPUT TEXT */
/**************/
input[type=text],
input[type=password] {
  background: var(--background);
  color: var(--foreground);
  border-color: 1px solid var(--dimmed);
  box-shadow: 0 1px 5px var(--background);
}
input[type=text]:focus,
input[type=password]:focus {
  outline-color: var(--accent);
}
input[type=text] {
  font-family: var(--font-normal);
}