[palette="aequilibrium"] {
  /* Accents for Light palette */
  --dark-red:      oklch(53.00% 0.257  29.23); /* #DA0000 */
  --dark-orange:   oklch(69.00% 0.170  60.00); /* #E57C00 */
  --dark-yellow:   oklch(68.60% 0.141  82.27); /* #C59001 */
  --dark-green:    oklch(65.00% 0.295 142.50); /* #00B500 */
  --dark-cyan:     oklch(65.90% 0.112 200.10); /* #00A6AD */
  --dark-blue:     oklch(65.98% 0.182 257.41); /* #4090FF */
  --dark-purple:   oklch(67.75% 0.218 306.33); /* #BA69FF */
  --dark-magenta:  oklch(73.00% 0.249 328.30); /* #F65DF4 */
  /* Accents for Dark palette */
  --light-red:     oklch(62.80% 0.230  29.23); /* #F43225 */
  --light-orange:  oklch(67.00% 0.185  52.98); /* #E96C00 */
  --light-yellow:  oklch(85.00% 0.211 109.76); /* #C8C700 */
  --light-green:   oklch(61.00% 0.294 142.50); /* #00A800 */
  --light-cyan:    oklch(70.00% 0.154 194.76); /* #00BABC */
  --light-blue:    oklch(73.50% 0.313 264.05); /* #3C8FFF */
  --light-purple:  oklch(72.50% 0.293 293.95); /* #B86AFF */
  --light-magenta: oklch(68.50% 0.240 328.37); /* #E452E2 */
  
  /* Background for Light palette */
  --white:         oklch(from #FFFFFF calc(l * 0.973) calc(c * 1.000) calc(h * 1.000)); /* #F6F6F6 */
  --light-1:       oklch(from #FFFFFF calc(l * 0.958) calc(c * 1.000) calc(h * 1.000)); /* #F1F1F1 */
  --light-2:       oklch(from #FFFFFF calc(l * 0.943) calc(c * 1.000) calc(h * 1.000)); /* #ECECEC */
  --light-3:       oklch(from #FFFFFF calc(l * 0.927) calc(c * 1.000) calc(h * 1.000)); /* #E7E7E7 */
  --light-4:       oklch(from #FFFFFF calc(l * 0.912) calc(c * 1.000) calc(h * 1.000)); /* #E2E2E2 */
  /* Background for Dark palette */
  --black:         oklch(from #000000 calc(l + 0.000) calc(c * 1.000) calc(h * 1.000)); /* #000000 */
  --dark-1:        oklch(from #000000 calc(l + 0.180) calc(c * 1.000) calc(h * 1.000)); /* #121212 */
  --dark-2:        oklch(from #000000 calc(l + 0.220) calc(c * 1.000) calc(h * 1.000)); /* #1B1B1B */
  --dark-3:        oklch(from #000000 calc(l + 0.250) calc(c * 1.000) calc(h * 1.000)); /* #222222 */
  --dark-4:        oklch(from #000000 calc(l + 0.280) calc(c * 1.000) calc(h * 1.000)); /* #292929 */
  
  /* A gray to dim the other colors */
  --gray: color-mix(in oklch, var(--white), var(--black));
}
[palette_type="dark"] {
  /* Accents */
  --red:          var(--light-red);
  --orange:       var(--light-orange);
  --yellow:       var(--light-yellow);
  --green:        var(--light-green);
  --cyan:         var(--light-cyan);
  --blue:         var(--light-blue);
  --purple:       var(--light-purple);
  --magenta:      var(--light-magenta);
  --accent:       var(--white);
  /* Background */
  --background:   var(--dark-4);
  --background-1: var(--dark-3);
  --background-2: var(--dark-2);
  --background-3: var(--dark-1);
  --background-4: var(--black);
  /* Foreground */
  --foreground:   var(--light-4);
  --foreground-1: var(--light-3);
  --foreground-2: var(--light-2);
  --foreground-3: var(--light-1);
  --foreground-4: var(--white);
  /* Dimmed accents */
  --dimmed-red:     color-mix(in oklch, var(--gray), var(--red));
  --dimmed-orange:  color-mix(in oklch, var(--gray), var(--orange));
  --dimmed-yellow:  color-mix(in oklch, var(--gray), var(--yellow));
  --dimmed-green:   color-mix(in oklch, var(--gray), var(--green));
  --dimmed-cyan:    color-mix(in oklch, var(--gray), var(--cyan));
  --dimmed-blue:    color-mix(in oklch, var(--gray), var(--blue));
  --dimmed-purple:  color-mix(in oklch, var(--gray), var(--purple));
  --dimmed-magenta: color-mix(in oklch, var(--gray), var(--magenta));
  --dimmed-accent:  color-mix(in oklch, var(--gray), var(--accent));
  /* Dimmed background */
  --dimmed-background:   color-mix(in oklch, var(--gray), var(--background));
  --dimmed-background-1: color-mix(in oklch, var(--gray), var(--background-1));
  --dimmed-background-2: color-mix(in oklch, var(--gray), var(--background-2));
  --dimmed-background-3: color-mix(in oklch, var(--gray), var(--background-3));
  --dimmed-background-4: color-mix(in oklch, var(--gray), var(--background-4));
  /* Dimmed foreground */
  --dimmed-foreground:   color-mix(in oklch, var(--gray), var(--foreground));
  --dimmed-foreground-1: color-mix(in oklch, var(--gray), var(--foreground-1));
  --dimmed-foreground-2: color-mix(in oklch, var(--gray), var(--foreground-2));
  --dimmed-foreground-3: color-mix(in oklch, var(--gray), var(--foreground-3));
  --dimmed-foreground-4: color-mix(in oklch, var(--gray), var(--foreground-4));
}
[palette_type="light"] {
  /* Accents */
  --red:          var(--dark-red);
  --orange:       var(--dark-orange);
  --yellow:       var(--dark-yellow);
  --green:        var(--dark-green);
  --cyan:         var(--dark-cyan);
  --blue:         var(--dark-blue);
  --purple:       var(--dark-purple);
  --magenta:      var(--dark-magenta);
  --accent:       var(--black);
  /* Background */
  --background:   var(--light-4);
  --background-1: var(--light-3);
  --background-2: var(--light-2);
  --background-3: var(--light-1);
  --background-4: var(--white);
  /* Foreground */
  --foreground:   var(--dark-4);
  --foreground-1: var(--dark-3);
  --foreground-2: var(--dark-2);
  --foreground-3: var(--dark-1);
  --foreground-4: var(--black);
  /* Dimmed accents */
  --dimmed-red:     color-mix(in oklch, var(--gray), var(--red));
  --dimmed-orange:  color-mix(in oklch, var(--gray), var(--orange));
  --dimmed-yellow:  color-mix(in oklch, var(--gray), var(--yellow));
  --dimmed-green:   color-mix(in oklch, var(--gray), var(--green));
  --dimmed-cyan:    color-mix(in oklch, var(--gray), var(--cyan));
  --dimmed-blue:    color-mix(in oklch, var(--gray), var(--blue));
  --dimmed-purple:  color-mix(in oklch, var(--gray), var(--purple));
  --dimmed-magenta: color-mix(in oklch, var(--gray), var(--magenta));
  --dimmed-accent:  color-mix(in oklch, var(--gray), var(--accent));
  /* Dimmed background */
  --dimmed-background:   color-mix(in oklch, var(--gray), var(--background));
  --dimmed-background-1: color-mix(in oklch, var(--gray), var(--background-1));
  --dimmed-background-2: color-mix(in oklch, var(--gray), var(--background-2));
  --dimmed-background-3: color-mix(in oklch, var(--gray), var(--background-3));
  --dimmed-background-4: color-mix(in oklch, var(--gray), var(--background-4));
  /* Dimmed foreground */
  --dimmed-foreground:   color-mix(in oklch, var(--gray), var(--foreground));
  --dimmed-foreground-1: color-mix(in oklch, var(--gray), var(--foreground-1));
  --dimmed-foreground-2: color-mix(in oklch, var(--gray), var(--foreground-2));
  --dimmed-foreground-3: color-mix(in oklch, var(--gray), var(--foreground-3));
  --dimmed-foreground-4: color-mix(in oklch, var(--gray), var(--foreground-4));
}
[palette_type] {
  color:var(--foreground);
}

[palette_accent="red"]     {--accent:var(--red);}
[palette_accent="orange"]  {--accent:var(--orange);}
[palette_accent="yellow"]  {--accent:var(--yellow);}
[palette_accent="green"]   {--accent:var(--green);}
[palette_accent="cyan"]    {--accent:var(--cyan);}
[palette_accent="blue"]    {--accent:var(--blue);}
[palette_accent="purple"]  {--accent:var(--purple);}
[palette_accent="magenta"] {--accent:var(--magenta);}

::selection {
  background: var(--accent);
  color: var(--background);
}

body {
  background-color: var(--background);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--accent);
}

code {
  background-color: var(--foreground);
  color: var(--background);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.5em;
}

/**************/
/* INPUT TEXT */
/**************/
input[type=text],
input[type=password] {
  background: var(--background);
  color: var(--foreground);
  border-color: 1px solid var(--gray);
  box-shadow: 0 1px 5px var(--background);
}
input[type=text]:focus,
input[type=password]:focus {
  outline-color: var(--accent);
}
input[type=text] {
  font-family: var(--font-normal);
}