/*
Dependencies:
palette-aequilibrium.css
*/

@charset "UTF-8";
@import url('https://fonts.bunny.net/css?family=Exo+2:300,300i,400,700,700i&display=swap'); /* Exo 2*/
@import url(https://fonts.bunny.net/css?family=overpass:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i); /* Overpass */
@import url(https://fonts.bunny.net/css?family=cantarell:400,400i,700,700i); /* Cantarell */
@import url(https://fonts.bunny.net/css?family=andika:400,400i,700,700i); /* Andika */
@import url(https://fonts.bunny.net/css?family=julius-sans-one:400); /* Julius Sans One */
@import url('https://fonts.bunny.net/css?family=Fira+Code:300,400,700&display=swap'); /* Fira Code */
@import url('https://fonts.bunny.net/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Color+Emoji&display=swap'); /* Noto Color Emoji */      
@font-face {
  font-family: 'password-line';
  src: url('./fonts/password-line.eot?96877785');
  src: url('./fonts/password-line.eot?96877785#iefix') format('embedded-opentype'),
       url('./fonts/password-line.woff2?96877785') format('woff2'),
       url('./fonts/password-line.woff?96877785') format('woff'),
       url('./fonts/password-line.ttf?96877785') format('truetype'),
       url('./fonts/password-line.svg?96877785#password-line') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --title-font: "Julius Sans One", sans-serif, "Noto Color Emoji";
  --text-font: "Andika", sans-serif, "Noto Color Emoji";
  --monospace-font: "Fira Code", monospace, "Noto Color Emoji";
  --password-font: "password-line", var(--text-font);
}

body {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--title-font);
  font-weight: 700;
  color: var(--accent);
  padding-bottom: 0.1em;
}

h1,hr {
  border: none;
  border-bottom: 1px solid color-mix(in oklch, var(--dimmed), transparent);
}

h2 {
  border: none;
  border-bottom: 1px solid color-mix(in oklch, var(--dimmed), transparent 75%);
}

/**************/
/* INPUT TEXT */
/**************/
input[type=text],
input[type=password] {
  height: 1.7rem;
  border: 1px solid var(--dimmed);
  border-radius: 100vmax;
  text-align: center;
  padding: 0.1em;
  margin: 0.2em;
  /* Outline */
  outline: none;
  outline-color: transparent;
  outline-offset: 0;
  outline-style: solid;
  outline-width: 0.15em;
  transition-duration: 0.2s;
  transition-property: outline-color;
}
input[type=password] {
  font-family: var(--password-font);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0;
}